.Question-container {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.Quest-image {
  align-self: center;
  max-height: 350px;
  max-width: 500px;
  margin: 20px;
}

.Quest-audio {
  margin: 20px;
  align-self: center;
}

.Quest-video {
  align-self: center;
  margin: 5px;
}

.Btn-row {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.Options-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 5px;
}

.Quest-opt-image {
  display: flex;
  flex-direction: column;
}

.Option-image {
  max-width: 160px;
  margin: 10px;
}