.Question-container {
  margin: 1em;
}

.Quest-image {
  max-height: 350px;
  margin: 20px;
}

.Quest-audio {
  margin: 20px;
}

.Btn-row {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.Options-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 5px;
}

.Quest-opt-image {
  display: flex;
  flex-direction: column;
}