.Container {
  background-color: #282c34;
  color:#fff;
  min-height: 94vh;
}
.Home {
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
}

.Home .Home-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Subject-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.Level-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.Level-list .Card-list {
  margin: 5px;
  max-width: 320px;
  padding: 6px;
}

.Quest-container {
  margin: 15px;
}
.Quest-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}