.Course-container {
  background-color: #282c34;
  color:#fff;
  min-height: 94vh;
}

.Course {
  padding: 3em 4em;
}

.Final-body {
  display: flex;
  flex-direction: column;
}

.Course-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Card-container {
  width: 320px;
  margin-right: 20px;
  margin-top: 20px;
}

.Card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Units-list {
  display: flex;
  flex-direction: column;
}

.Unit-list-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Unit-list-body .Finish-btn {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.Course-test-cont {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Final-test-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}