.Unit-container {
  background-color: #282c34;
  color:#fff;
  min-height: 94vh;
}

.Unit {
  padding: 3em 4em;
}

.Unit-flex {
  display: flex;
  flex-direction: column;
}

.Unit-title {
  display: flex;
  justify-content: space-between;
}

.Unit-video {
  align-self: center;
  margin-top: 3em;
}

.Unit-btn-quest {
  align-self: center;
  margin: 2em 0;
}

.Question-container {
  margin: 1em;
}

.Quest-image {
  max-height: 350px;
  margin: 20px;
}

.Quest-audio {
  margin: 20px;
}

.Btn-row-unit {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.Unit-btn {
  margin: 0 10px;
  width: 140px;
}

.Unit-text-new {
  margin-top: 5px;
  margin-bottom: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.Modal-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Help-btn-gpt {
  position: fixed;
  bottom: 30px;
  right: 30px;
}